<div class="container-fluid text-center" id="footer">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <ul>
        <h5>About</h5>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About us</a>
        </li>
        <li>
          <a href="#">Contact us</a>
        </li>
        <li>
          <a href="#">Disclaimer</a>
        </li>
      </ul>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <ul>
        <h5>Social</h5>
        <li>
          <a href="#">Twitter</a>
        </li>
        <li>
          <a href="#">Instagram</a>
        </li>
        <li>
          <a href="#">Facebook</a>
        </li>
        <li>
          <a href="#">LinkedIn</a>
        </li>
      </ul>
    </div>

    <div class="col-12 col-lg-4 text-center">
      <br>
      <h3>Disclaimer</h3>
      <p>Our Target is to Produce Experts Developers Not only Job Ready Developers.</p>
    </div>
  </div>

  <div class="container text-center">
    <div class="row">
      <div class="col-12 col-lg-6">
        <br>
        <p>&copy; 2023 Experts-Developers.com.</p>
      </div>

      <div class="col-12 col-lg-6 mt-3">
        <a href="#"><i style="background-color: #1DA1F2;" class="fa-brands fa-twitter"></i></a>
        <a href="#"><i style="background-color:  rgb(209, 46, 1);;" class="fa-brands fa-instagram"></i></a>
        <a href="#"><i style="background-color: #4267B2;" class="fa-brands fa-facebook"></i></a>
        <a href="#"><i style="background-color: #0077b5;" class="fa-brands fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
</div>
