* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.navbarr {
    color: rgb(11, 0, 0);
    background-color: ghostwhite;
    background-image: linear-gradient(to right, rgba(22, 136, 188, 0.793), rgb(0, 0, 0));
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: roboto;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.284);

}

.navbarLogo {
    color: rgb(255, 255, 255);
    font-size: 19px;
    cursor: pointer;
}

.navLink {
    margin-top: 15px;
    display: flex;
}

.navLink a {
    text-decoration: none;
    color: rgb(240, 240, 240);
}

.navLink li {
    border-radius: 15px;
    list-style: none;
    cursor: pointer;
    padding: 5px 40px;
    font-size: 19px;
}

.navLink li:hover {
    background-color: rgb(59, 177, 255);
    background-image: linear-gradient(to right, rgb(39, 136, 174), rgba(2, 16, 28, 0.76), rgb(19, 61, 78));
    color: white;
    transition: all 300ms linear;
}


.logo {
    display: none;
}

#hide {
    display: none;
}

#footer {
    padding: 30px 40px 10px;
    background-image: linear-gradient(to right, rgba(5, 67, 96, 0.793), rgb(0, 0, 0));
    font-family: Roboto;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer a:hover {
    color: rgb(25, 39, 161);
}

#footer a:active {
    color: rgb(237, 241, 1);
}


#footer h5 {
    color: rgb(171, 165, 165);;
}

#footer h3 {
    color: rgb(171, 165, 165);
    padding: 10px 0px;
}

#footer ul li {
    color: white;
    list-style: none;
    font-size: 19px;
    padding: 10px 0px ;
}

#footer p {
    color: white;
    font-family: roboto;
    font-size: 18px;
    
}

#footer i {
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 8px 10px;
    border-radius: 20px;
    margin: 0px 6px 10px;
}


#homesection {
    padding: 40px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(22, 136, 188, 0.793), rgb(0, 0, 0));
}

#homesection h3 {
    color: white;
    font-family: roboto;
}

#homesection h4 {
    color: white;
    font-family: roboto;
}

#homesection img {
    width: 70%;
}

#homesection button {
    width: 180px;
    margin-bottom: 20px;
}

#homesection h5 {
    color: white;
    font-family: roboto;
}


#homesection2 {
    display: flex;
    background-color: rgb(24, 64, 98);
    padding: 50px 30px;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-family: roboto;
}

#homesection2 section{
    background-color: rgba(177, 177, 177, 0.47);
    height: auto;
    width: 150px;
    border-radius: 20px;
    margin: auto 10px;
    padding: 20px 10px;
    
}


#homesection2 section h3 {
    font-size: 18px;
}

#homesection2 h5 {
    background-color: rgba(192, 192, 192, 0.491);
    color: white;
    padding: 10px;
    border-radius: 15px;
    width: 200px;  
}

#registrationsection {
    width: 100%;
    height: auto;
    padding: 20px 20px;
    background-image: linear-gradient(to right, rgba(22, 136, 188, 0.793), rgb(0, 0, 0));
}

#registration-form {
    padding: 20px 30px;
    background-color: white;
    background-image: linear-gradient(to right, rgba(22, 136, 188, 0.793), rgb(0, 0, 0));
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.305);
    height: auto;
    width: 60%;
    border-radius: 20px 40px 50px;
    margin: 20px 0px;
}

#registration-form label {
    color: rgb(254, 254, 254);
    font-size: 18px;
    font-family: serif;
    padding: 5px 50px;
}

#registration-form h2 {
    color: rgb(255, 255, 255);
}


#registration-form input {
    width: 55%;
}


#registration-form #subbtn {
    width: 50%;
}

.errorlist {
    list-style: none;
    color: red;
}

#enquirysection {
    width: 100%;
    height: auto;
    padding: 20px 20px;
    background-image: linear-gradient(to right, rgba(22, 136, 188, 0.793), rgb(0, 0, 0));

}

@media screen and (max-width: 900px) {

    .logo {
        display: block;
        font-size: 22px;
        color: white;
        margin-left: 35%;
    }

    #hide:hover {
        color: rgb(36, 76, 208);

    }

    .logo:hover {
        color: rgb(36, 76, 208);
    }

    .mobileNavLink {
        width: 100%;
        position: absolute;
    }
    
    .navLink {
        display: none;
        transition: all 200ms linear;
        text-align: center;
        height: auto;
        position: relative;
        background-image: linear-gradient(to right, rgba(22, 136, 188, 0.793), rgb(0, 0, 0));
        top: 194px;
        /* top: 125px; */
        padding-bottom: 20px;
    }

    .navLink li {
        padding: 15px 10px;
        display: block;
        position: relative;
        left: -15px;
    }
    

    #hide {
        font-size: 20px;
        display: block;
        color: white;
        float: right;       
        margin-right: 8%;
    }

    #homesection img {
        width: 50%;
        margin-bottom: 10px;
    }

    #homesection h4 {
        color: white;
        font-size: 18px;
        font-family: roboto;
    }


    #homesection2 section{
        background-color: rgba(177, 177, 177, 0.47);
        height: auto;
        width: auto;
        border-radius: 20px;
        margin: auto 1%;
        padding: 10px 10px;
        
    }


    
     #sec h4{
        font-size: 18px;
    }

    #homesection2 section h3 {
        font-size: 14px;
    }

    #registration-form {
        padding: 20px 10px;
        background-color: white;
        background-image: linear-gradient(to right, rgba(22, 136, 188, 0.793), rgb(0, 0, 0));
        box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.305);
        height: auto;
        width: 90%;
        border-radius: 20px 40px 50px;
        margin: 20px 0px;
    }
    
    #registration-form label {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-family: roboto;
        padding: 5px 50px;
    }
    
    #registration-form h2 {
        color: rgb(253, 253, 255);
    }
    
    
    #registration-form input {
        width: 80%;
    }
    
    
    #registration-form #subbtn {
        width: 60%;
    }

}